{{!-- Add additional social links that you'd like to appear under posts.

Use the below template for each author. Sorry about the if loops :(


{{if author.slug 'bob'}}
<span class="author-github"><i class="fa fa-github" aria-hidden="true"></i> <a href="https://github.com/bob/" title="{{name}} on GitHub">jloh</a></span>
{{/if}}

--}}
